.x-start,
.x-center,
.y-center,
.xy-center {
  display: flex;
}

.x-center {
  align-items: center;
}

.x-start {
  align-items: start;
}

.y-center {
  justify-content: center;
}

.xy-center {
  align-items: center;
  justify-content: center;
}

.marg-cent {
  margin: 0 auto;
}