.x-start,
.x-center,
.y-center,
.xy-center {
  display: flex;
}

.x-center {
  justify-content: center;
}

.x-start {  // ?????
  align-items: start;
}

.y-center {
  align-items: center;
}

.xy-center {
  align-items: center;
  justify-content: center;
}

.marg-cent {
  margin: 0 auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

//##########################################################################################################################################################
.btn-center {
  width: max-content;
  margin: 0 auto;
  display: block;
}