.text-primary {
  color: $primary;
}

.text-dark {
  color: $dark;
}

.text-darker {
  color: $darker;
}

.text-lighter {
  color: $lighter;
}

.text-white {
  color: white;
}

//___________________________________________________________________________________________________________________________________________________________________________
//___________________________________________________________________________________________________________________________________________________________________________
//___________________________________________________________________________________________________________________________________________________________________________

.text-success {
  color: $success;
}

.border-inherit {
  border-color: inherit;
}