.color-primary {
  color: $primary;
}

.color-darker {
  color: $darker;
}

.color-lighter {
  color: $lighter;
}

.color-dark {
  color: $dark;
}

.color-darker {
  color: $darker;
}

.color-lighter {
  color: $lighter;
}

.color-white {
  color: white;
}


