
.h1 {
  font: bold 32px/1.5 Montserrat;
  @include media-breakpoint-up(md) {
    font: bold 36px/1.5 Montserrat;
  }
  @include media-breakpoint-up(xl) {
    font: bold 64px/1.5 Montserrat;
  }
}

.h2 {
  font: bold 32px/1.5 Montserrat;
  @include media-breakpoint-up(md) {
    font: bold 36px/1.4 Montserrat;
  }
  @include media-breakpoint-up(xl) {
    font: bold 44px/1.3 Montserrat;
  }
}

.h3 {
  font: bold 16px/1.5 Montserrat;
  @include media-breakpoint-up(md) {
    font: bold 24px/1.5 Montserrat;
  }
  @include media-breakpoint-up(xl) {
    font: bold 32px/1.5 Montserrat;
  }
}

.h4 {
  font: bold 16px/1.3 Montserrat;
  @include media-breakpoint-up(md) {
    font: bold 16px/1.3 Montserrat;
  }
  @include media-breakpoint-up(xl) {
    font: bold 16px/1.3 Montserrat;
  }
}

.h5 {
  font: 116x/1.3 Montserrat;
  @include media-breakpoint-up(md) {
    font: 16px/1.3 Montserrat;
  }
  @include media-breakpoint-up(xl) {
    font: 16px/1.3 Montserrat;
  }
}

.caption-1 {
  font: bold 14px/1.3 "Source Sans Pro";
  text-transform: uppercase;
  @include media-breakpoint-up(md) {
    font: bold 16px/1.3 "Source Sans Pro";
  }
  @include media-breakpoint-up(xl) {
    font: bold 24px/1.5 "Source Sans Pro";
  }
}

.caption-2 {
  font: 16px/1.5 "Source Sans Pro";
  letter-spacing: 1px;
  text-transform: uppercase;
  @include media-breakpoint-up(md) {
    font: bold 16px/1.3 "Source Sans Pro";
  }
  @include media-breakpoint-up(xl) {
    font: bold 18px/1.5 "Source Sans Pro";
  }
}

.caption-3 {
  font: bold 16px/1.3 "Source Sans Pro";
  letter-spacing: 1px;
  text-transform: uppercase;
  @include media-breakpoint-up(md) {
    font: bold 16px/1.5 "Source Sans Pro";
  }
  @include media-breakpoint-up(xl) {
    font: bold 18px/1.5 "Source Sans Pro";
  }
}

.caption-4 {
  font: bold 13px/1.5 "Source Sans Pro";
  letter-spacing: 1px;
  text-transform: uppercase;
  @include media-breakpoint-up(md) {
    font: bold 16px/1.5 "Source Sans Pro";
  }
  @include media-breakpoint-up(xl) {
    font: bold 18px/1.5 "Source Sans Pro";
  }
}

.caption-5 {
  font: 13px/1.5 "Source Sans Pro";
  letter-spacing: 1px;
  text-transform: uppercase;
  @include media-breakpoint-up(md) {
    font: 16px/1.5 "Source Sans Pro";
  }
  @include media-breakpoint-up(xl) {
    font: 18px/1.5 "Source Sans Pro";
  }
}

.text-size-1 {
  font: 400 12px/1.5 "Source Sans Pro";
  text-transform: initial;
  @include media-breakpoint-up(md) {
    font: 14px/1.5 "Source Sans Pro";
  }
  @include media-breakpoint-up(xl) {
    font: 16px/1.5 "Source Sans Pro";
  }
}

.text-size-2 {
  font: 300 13px/20px "Source Sans Pro";
  text-transform: initial;
  @include media-breakpoint-up(xl) {
    font: 16px/24px "Source Sans Pro";
  }
}

.text-size-3 {
  font: 11px/1 "Source Sans Pro";

}

.text-size-4 {
  font: 14px/1.3 "Source Sans Pro";
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.btn-price-text-size {
  font: 300 16px/1.5 "Source Sans Pro";
  letter-spacing: 2px;
  text-transform: uppercase;
}

.price {
  font: 300 36px/1 Montserrat;
  @include media-breakpoint-up(xl) {
    font: 300 64px/1 Montserrat;
  }
}

.hofman {
  font: bold 24px/1.4 Montserrat;
  letter-spacing: 2px;
  color: $primary;
  @include media-breakpoint-up(md) {
    font: bold 32px/1.4 Montserrat;
  }
  @include media-breakpoint-up(xl) {
    font: bold 36px/1.4 Montserrat;
  }
}

//Montserrat ----------------------------------------------------------------------------------------------------

.color-primary {
  & a {
    color: $primary;
  }
}

.color-dark {
  color: $dark;
  & a {
    color: $dark;
  }
}

.color-darker {
  color: $darker;
}

.color-lighter {
  color: $lighter;
  & a {
    color: $lighter;
  }
}

.color-white {
  color: white;
  & a {
    color: white;
  }
}