/*
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 20px;
  &__item {
    border: 7px solid crimson;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 28px;
  }
}*/

.grid {
  min-width: 250px;
  max-width: 1140px;
  @media (max-width: 1400px) {
    max-width: 720px;
  }
  @media (max-width: 320px) {
    max-width: 290px;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 44px;
    line-height: 48px;
    text-align: center;

    &--indent {
      margin-bottom: 25px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    position: relative;
    @media (max-width: 767px) {
    }

    &:nth-child(1) {
      grid-column: 1 / 2;
    }

    &:nth-child(2) {
      grid-column: 2 / 4;
      @media (max-width: 767px) {
        grid-column: 1 / -1;
        grid-row: 2;
      }
    }

    &:nth-child(3) {
      grid-column: 1 / 3;
      @media (max-width: 767px) {
        grid-column: 1 / -1;
        grid-row: 4;
      }
    }

    &:nth-child(4) {
      @media (max-width: 767px) {
        grid-column: 2 / 3;
        grid-row: 1;
      }
    }

    &:nth-child(5) {
      @media (max-width: 767px) {
        grid-row: 3;
      }
    }

    &:nth-child(6) {
      @media (max-width: 767px) {
        //background-color: rgba(red, .1);
        grid-column: 1 / -1;
      }
    }

    &:nth-child(7) {
      @media (max-width: 767px) {
        grid-row: 3;
      }
    }

    &--big {
    }
  }

  &__image-wrapper {
    position: relative;
  }

  &__image {
    width: 100%;
    height: 380px;
    object-fit: cover;
    @media (max-width: 1400px) {
      height: 240px;
    }
    @media (max-width: 767px) {
      height: 145px;
    }
    &--opacity {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(black, 0.6);
    color: white;
  }
  &__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 60px 25px 50px 40px;
    @media (max-width: 1400px) {
      padding: 30px 20px 20px 20px;
    }
    @media (max-width: 767px) {
      //padding: 15px 20px 10px 25px;
      left: 0;
      }
    &--left {
      left: 50%;
      @media (max-width: 767px) {
        left: 0;
      }
    }
  }
  &__name {
    font-family: 'Montserrat', sans-serif;
    @include font(bold, 32px, 42px);
    @media (max-width: 1400px) {
      @include font(bold, 24px, 32px);
    }
    @media (max-width: 767px) {
      @include font(bold, 16px, 32px);
    }
    white-space: nowrap;
    &--indent {
      padding-bottom: 5px;
      @media (max-width: 767px) {
        padding-bottom: 2px;
      }
    }
  }

  &__under {
    font-family: 'Source Sans Pro', sans-serif;
    @include font(normal, 18px, 30px);
    @media (max-width: 1400px) {
      @include font(normal, 12px, 16px);
    }
    &--indent {
      padding-bottom: 34px;
      @media (max-width: 1400px) {
        padding-bottom: 30px;
      }
      @media (max-width: 767px) {
        padding-bottom: 10px;
      }
    }
  }
  &__rect {
    background-color: white;
    width: 32px;
    height: 6px;
        @media (max-width: 1400px) {
          width: 16px;
          height: 4px;
        }
        @media (max-width: 767px) {
          width: 14px;
          height: 2px;
        }
    &--indent {
      margin-bottom: 27px;
        @media (max-width: 1400px) {
          margin-bottom: 19px;
        }
        @media (max-width: 767px) {
          margin-bottom: 10px;
        }
    }
    &--color-darker {
      background-color: #000;
    }
  }
  &__text {
    font-family: 'Source Sans Pro', sans-serif;
    @include font(normal, 16px, 24px);
    @media (max-width: 1400px) {
      @include font(normal, 11px, 16px);
    }
    &--indent {
      padding-right: 30px;
      padding-bottom: 30px;
      @media (max-width: 1400px) {
        padding-right: 0;
        padding-bottom: 15px;
      }
    }
  }
}