.header {

  & * {
    z-index: 1;
  }
  &__warpp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
    @media (max-width: $tablet) {
      padding: 17px 22px;
    }
  }
  &__menu {
    padding-left: 100px;
    @media (max-width: 1200px) {
      padding-left: 0;

    }
    @media (max-width: $tablet) {
      position: fixed;
      top: 80px;
      right: 0;
      bottom: 0;
      width: 374px;
      display: flex;
      flex-direction: column;
      //transform: translateX(100%);
      transition: transform 2s ease;
      background-color: #131417;
      padding-left: 0;
    }
  }
  &__phone {
    display: flex;
    align-items: center;
    color: white;
    @include font(18px,24px);
  }
  &__pic {
    margin-right: 13px;
  }
  &__burger {
    display: none;
    @media (max-width: $tablet) {
      display: block;
    }
    span {
      display: block;
      width: 22px;
      height: 2px;
      background-color: #F2994A;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
  &--theme {
    background-color: #131417;
    box-shadow: 0 4px 4px rgba(19, 20, 23, 0.4);
  }
}