.color-primary {
  a {
    color: $primary;
  }
}

.color-dark {
  a {
    color: $dark;
  }
}

.color-darker {
  a {
    color: $darker;
  }
}

.color-lighter {
  a {
    color: $lighter;
  }
}

.color-white {
  a {
    color: white;
  }
}