.rating {
  color: #afafaf;
  display: flex;
  margin-bottom: 30px;
  &__stars {
    color: #ffe404;
    display: flex;
    margin-right: 20px;
    & *:not(:last-child) {
      //margin-right: 10px;
    }
    .fa-star:nth-child(4),:nth-child(5) {
      color: #afafaf;
    }
  }
  &__count {
    margin-right: 10px;
  }
  &__add {
    margin-left: 10px;
    color: #afafaf;
  }
}