/*
$dot-sm: 8px;
$dot-xl: 14px;
*/

$direct-icon: 64px;

$round-size-sm: 50px;
$round-size-md: 64px;
$round-size-xl: 80px;

/*
@include media-breakpoint-up(xl) {
  $round-size: 80px;
}*/
$adv-size-sm-w: 46px;
$adv-size-sm-h: 50px;

$adv-size-xl-w: 60px;
$adv-size-xl-h: 64px;

$soc-icon-sm: 16px;
$soc-icon-xl: 24px;

$direction: 64px;

$go-to-top-w: 12px;
$go-to-top-h: 6px;