@for $i from 0 through 250 {
  @if ($i%5 == 0) {
    .mt-#{$i} {
      margin-top: #{$i}px !important;
    }

    .mr-#{$i} {
      margin-right: #{$i}px !important;
    }

    .mb-#{$i} {
      margin-bottom: #{$i}px !important;
    }

    .ml-#{$i} {
      margin-left: #{$i}px !important;
    }

    .mx-#{$i} {
      margin-right: #{$i}px !important;
      margin-left: #{$i}px !important;
    }

    .my-#{$i} {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }

    .pt-#{$i} {
      padding-top: #{$i}px !important;
    }

    .pr-#{$i} {
      padding-right: #{$i}px !important;
    }

    .pb-#{$i} {
      padding-bottom: #{$i}px !important;
    }

    .pl-#{$i} {
      padding-left: #{$i}px !important;
    }

    .px-#{$i} {
      padding-right: #{$i}px !important;
      padding-left: #{$i}px !important;
    }

    .py-#{$i} {
      padding-top: #{$i}px !important;
      padding-bottom: #{$i}px !important;
    }
  }
}
@for $i from 0 through 250 {
  @if ($i%5 == 0) {
    @include media-breakpoint-up(md) {

      .mt-md-#{$m} {
        margin-top: #{$m}px !important;
      }

      .mr-md-#{$m} {
        margin-right: #{$m}px !important;
      }

      .mb-md-#{$m} {
        margin-bottom: #{$m}px !important;
      }

      .ml-md-#{$m} {
        margin-left: #{$m}px !important;
      }

      .mx-md-#{$m} {
        margin-right: #{$m}px !important;
        margin-left: #{$m}px !important;
      }

      .my-md-#{$m} {
        margin-top: #{$m}px !important;
        margin-bottom: #{$m}px !important;
      }

      .pt-md-#{$m} {
        padding-top: #{$m}px !important;
      }

      .pr-md-#{$m} {
        padding-right: #{$m}px !important;
      }

      .pb-md-#{$m} {
        padding-bottom: #{$m}px !important;
      }

      .pl-md-#{$m} {
        padding-left: #{$m}px !important;
      }

      .px-md-#{$m} {
        padding-right: #{$m}px !important;
        padding-left: #{$m}px !important;
      }

      .py-md-#{$m} {
        padding-top: #{$m}px !important;
        padding-bottom: #{$m}px !important;
      }

    }
  }
}

@for $n from 0 through 250 {
  @if ($n%5 == 0) {
    @include media-breakpoint-up(xl) {
      .mt-xl-#{$n} {
        margin-top: #{$n}px !important;
      }

      .mr-xl-#{$n} {
        margin-right: #{$n}px !important;
      }

      .mb-xl-#{$n} {
        margin-bottom: #{$n}px !important;
      }

      .ml-xl-#{$n} {
        margin-left: #{$n}px !important;
      }

      .mx-xl-#{$n} {
        margin-right: #{$n}px !important;
        margin-left: #{$n}px !important;
      }

      .my-xl-#{$n} {
        margin-top: #{$n}px !important;
        margin-bottom: #{$n}px !important;
      }

      .pt-xl-#{$n} {
        padding-top: #{$n}px !important;
      }

      .pr-xl-#{$n} {
        padding-right: #{$n}px !important;
      }

      .pb-xl-#{$n} {
        padding-bottom: #{$n}px !important;
      }

      .pl-xl-#{$n} {
        padding-left: #{$n}px !important;
      }

      .px-xl-#{$n} {
        padding-right: #{$n}px !important;
        padding-left: #{$n}px !important;
      }

      .py-xl-#{$n} {
        padding-top: #{$n}px !important;
        padding-bottom: #{$n}px !important;
      }
    }
  }
}