.my--navbar .navbar-nav .active>.nav-link{
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  color: #ffffff;
}

.bg--dark{
  background-color: #4b4b4b;
}

.my--navbar{
  padding-top: 33px;
  padding-bottom: 33px;
}

.HOFMANN {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2.49px;
  color: #ebcb80;
}