.z-col {
  background-color: $success;
  height: 440px;
}

.h-10 {
  height: 10px;
}

.h-120 {
  height: 120px;
}

.h-700 {
  height: 700px;
}

.h-450 {
  //G questin
  height: 450px;
}

.br {
  border: 3px solid #000;
}

.dn {
  display: none !important;
}

//######################################################################################################################################################
//######################################################################################################################################################
//######################################################################################################################################################
* {
  outline: none !important;
}

body {
  background-color: #fff;
  color: $darker;
  min-width: 320px;
}

a {
  color: #e13d3d;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.pos-rel {
  @extend .position-relative;
}

.pos-abs {
  @extend .position-absolute;
}

.pos-fix {
  position: fixed;
}

.logo {
  font: bold 36px/44px Montserrat;
  letter-spacing: 2px;
}

#my-navber {
  @include media-breakpoint-up(xl) {
    .nav-link {
      padding: 0 24px;
    }
  }
}

/* #####################################################################@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* #####################################################################@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* #####################################################################@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.plan-descr {
  white-space: nowrap;
}

.places-name {
  white-space: nowrap;
  overflow-x: auto;
}

.round-gold-circle {
  border-radius: 50%;
  border: 2px solid $primary;
  width: 110px;
  height: 110px;
  @include media-breakpoint-up(xl) {
    border: 4px solid $primary;
    width: 172px;
    height: 172px;
    height: 172px;
  }
}

.media-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  @include media-breakpoint-up(md) {
    width: 62px;
    height: 62px;
  }
  @include media-breakpoint-up(xl) {
    width: 80px;
    height: 80px;
  }
}

.descr-item {
  width: 351px;
}

.cards {
  border-radius: 8px;
}

.cards-text {
  height: 86px;
  overflow: hidden;
}

.place-item {
  cursor: pointer;
  @include media-breakpoint-up(md) {
    padding: 15px 36px;
  }
  @include media-breakpoint-up(xl) {
    padding: 20px 36px;
  }
}

.my-btn {
  @extend .btn;
  border-radius: 50px;
}

.my-btn-outline {
  padding: 15px 40px;
}

.my-btn-border {
  border: 2px solid;
}

//#######################################################-----------------------PLACES-----------------------------------##################################################
.places-img {
  height: 100%;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .primary .place-item {
    font-weight: bold;
  }
  .place-menu .content {
    display: none !important;
  }
  .aza {
    display: none;
  }
}

@media (max-width: 768px) {
  .primary .place-item {
    border: 2px solid;
    border-radius: 48px;
    padding: 4px 27px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      border: 8px solid transparent;
      border-top-color: $darker;
      top: 40%;
      right: 5%;
    }
  }
}
.main-btn-size {
  padding: 10px 25px;
  z-index: 2;
  @include media-breakpoint-up(md) {
    padding: 10px 30px;
  }
  @include media-breakpoint-up(xl) {
    padding: 15px 40px;
  }
}

.input-size {
  padding: 10px 15px;
  @include media-breakpoint-up(xl) {
    padding: 15px 20px;
  }
}


.cursor-pointer {
  cursor: pointer;
}

.dot {
  margin: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid $darker;
  cursor: pointer;
  &.active {
    background-color: $darker;
  }
  @include media-breakpoint-up(xl) {
    width: 14px;
    height: 14px;
  }
}

.adv-text {
  width: 230px;
  height: 75px;
  overflow: hidden;
}

.places {
  &-item {
    padding: 25px;
  }
}

.cont-in {
  border: 1px solid #e6e6e6;
}

.map-address {
  position: absolute;
  top: 62%;
  left: 15%;
  width: 190px;
  height: 80px;
  border-radius: 5px;
  background-color: $primary;

  &:after {
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-top-color: $primary;
    top: 99%;
    left: 25%;
    transform: translateX(-50%) scaleX(.5);
  }
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.foot-text-width {
  width: 133px;
}

.footer-up {
  border-bottom: 1px solid $dark;
}

.footer-line {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 1px;
  background-color: $dark;
}

.up {
  width: 36px;
  height: 38px;
  border-radius: 4px;
  background-color: $primary;
  cursor: pointer;
  transition: background-color .2s ease;
  &:hover {
    background-color: darken($primary, 20%)
  }
  &:focus {
    background-color: darken($primary, 40%)
  }
  &:visited {
    background-color: darken($primary, 10%)
  }
  @include media-breakpoint-up(xl) {
  }
}

.cont-name {
  display: inline-block;
}

.input {
  box-shadow: none;
  font: 14px/#{$form-line-height} "Source Sans Pro";
  resize: none;
  outline: none;
}

.input-border {
  @include media-breakpoint-up(xl) {
    border: $form-border-width*2 solid #e6e6e6;
  }
}

.input-text {
  height: $form-height;
  padding: ($form-height - $form-line-height - ($form-border-width *2))/2 11px;
  width: 100%;
}

.input-theme {
  border: $form-border-width solid #999999;
  border-radius: 4px;
}

.op-08 {
  opacity: .8;
}

.main-input-theme {
  border: $form-border-width*2 solid #fff;
  border-radius: 4px;
}

.content-item {
  width: 50%;
  float: left;
}

.form-div-group  .form-group {
  margin-bottom: 0;
}

.form-group .content-item {
  margin-bottom: 16px;

  &:not(:first-child) {
    padding-left: 6px;
  }

  &:first-child {
    padding-right: 6px;
  }
}

.input-textarea {
  height: 120px;
  width: 100%;
  padding: ($form-height - $form-line-height - ($form-border-width *2))/2 11px;
}

.label {
  display: block;
  font: 18px/28px "Source Sans Pro";
}

.form .label {
  margin-bottom: 10px;
}

.form .input-textarea {
  margin-bottom: 20px;
}

.position-up {
  bottom: 3%;
  right: 5%;
  transform: translateX(-50%);
  @include media-breakpoint-up(md) {
    right: 15%;
  }
}

.w-md-auto {
  @include media-breakpoint-up(md) {
    width: auto !important;
  }
}

.burger {
  &-container {
    display: inline-block;
    background-color: #fff;
  }
 &-bar {
    display: block;
    height: 2px;
    width: 16px;
    background: #fff;
    margin: 4px auto;
  }
  &-half {
    transform: translateX(25%) scaleX(.5);
  }
}

.nav-link {
  border: none;
  &.active {
    font-weight: bold;
  }
}

.nav-tabs .nav-link {
  border: none;
}
.nav-tabs {
  border-bottom: none;
}