@import "mixins.scss";

.h-s {
  height: 75px;
}

.br {
  border: 1px solid;
  border-color: $color-black;
}

.br-m2 {
  border: 2px solid;
  border-color: $color-black;
}

.h-889 {
  height: 889px;
}

.bgg {
  background-color: rgba( 0, 255, 0, .2);
}

.bgg2 {
  background-color: rgba( 0, 0, 255, .2);
}

.dot {
  background-color: gold;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
}

.d-flex {
  display: flex;
}

.dn {
  display: none;
}

/*#############################################################---------------------STANDART------------------------###################################################################*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

a:active {
  color: #000;
}

a:hover {
  color: #000;
}

a:visited {
  color: #000;
}

img {
  vertical-align: top;
}


/*#####################################################################################################################################################################################*/
/*#####################################################################################################################################################################################*/
/*#####################################################################################################################################################################################*/

.soc-sprite {
  background-image: url(https://i.imgur.com/2UNaOHF.png);
  background-repeat: no-repeat;
  display: block;
}

.soc-sprite-1-facebook {
  width: 10px;
  height: 22px;
  background-position: -5px -5px;
}

.soc-sprite-2-twitter {
  width: 26px;
  height: 21px;
  background-position: -25px -5px;
}

.soc-sprite-3-linkedin {
  width: 24px;
  height: 23px;
  background-position: -61px -5px;
}

.soc-sprite-4-google {
  width: 19px;
  height: 19px;
  background-position: -95px -5px;
}

.soc-auth-sprite {
  background-image: url(https://i.imgur.com/RIzLcMo.png);
  background-repeat: no-repeat;
  display: block;
  margin-left: 15px;
}

.soc-auth-sprite:first-child {
  margin-left: 0;
}

.soc-auth-sprite-1-CV {
  width: 15px;
  height: 12px;
  background-position: -5px -5px;
}

.soc-auth-sprite-2-arrow {
  width: 19px;
  height: 15px;
  background-position: -30px -5px;
}

.soc-auth-sprite-3-facebook {
  width: 6px;
  height: 13px;
  background-position: -59px -5px;
}

.soc-auth-sprite-4-twitter {
  width: 13px;
  height: 10px;
  background-position: -75px -5px;
}

.soc-auth-sprite-5-in {
  width: 13px;
  height: 12px;
  background-position: -98px -5px;
}

.soc-auth-sprite-6-google {
  width: 14px;
  height: 13px;
  background-position: -121px -5px;
}

/*#####################################################################################################################################################################################*/
/*#####################################################################################################################################################################################*/
/*#####################################################################################################################################################################################*/

.dev-width {
  max-width: 1500px;
}

.header-block {
  &--display {
    display: flex;
    margin: 0 auto;
  }
  &__main-block {
    &--size {
      width: 70%;
    }
    &--display {
      display: flex;
    }
    &--bg {
      background-color: #e9eae2;
    }
  }
  &__nav-block {
    &--rel {
      position: relative;
    }
    &--size {
      width: 465px;
    }
    &--bg {
      background-color: #7acec3;
    }
  }
}

.logo-block{
  &--position {
    padding-left: 170px;
  }
  &__pic {
    &--position{
      margin-top: 50px;
    }
  }
  &__text {
    @include font(18px, 1.5, 400);
    text-transform: uppercase;
    &--position {
      margin-top: 5px;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &--position {
      margin-top: 55px;
      margin-bottom: 100px;
    }
  }
}

.block-main {
  &__pic {
    &--position {
      margin-top: 30px;
      margin-left: 100px;
    }
  }
}

.block-menu {
  &__text {
    @include font(14px, 1.5, 400);
    text-transform: uppercase;
    color: white;
    &--position {
      padding-top: 230px;
      padding-right: 290px;
      padding-left: 60px;
    }
  }
  &__svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: #fff;
    & line{
      stroke: #fff;
      stroke-width: 1;
    }
  }
  &__burger {
    &--abs {
      position: absolute;
    }
    &--z-index{
      z-index: 1;
    }
    &--position {
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.text-menu{
  &__first{
    &--position {
      padding-top: 230px;
      padding-left: 60px;
    }
  }
  &__second{
    &--position {
      padding-top: 30px;
      padding-left: 140px;
    }
  }
}

.project-block {
  &--display {
    display: flex;
    margin: 0 auto;
  }
}

.two-left-side {
  &--size {

  }
}

.two-right-side {
  &--size {
  }
}

.sect-one {
  &--display {
    display: flex;
  }
  &__label {
    &--rel {
      position: relative;
    }
    &--bg {
      background-color: #ebb240;
    }
    &--size {
      width: 465px;
      height: 500px;
    }
  }
  &__item {
    &--size {
      width: 570px;
      height: 500px;
    }
    &--bg {
      background: url("https://i.imgur.com/DjgV9tv.jpg");
      background-repeat: no-repeat;
      background-position-x: right;
    }
    &--position {
      padding-left: 110px;
    }
  }
}

.label-sect {
  display: flex;
  &__arrow {
    &--position {
      padding-top: 175px;
      padding-left: 100px;
      padding-right: 10px;
    }
  }
  &__list-item {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    overflow: hidden;
  }
  &__list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: ghostwhite;
  }
  &__list-item a:before {
    content: ' ';
    display: block;
    width: 19px;
    height: 15px;
    background: url(https://i.imgur.com/20CkwLJ.png) no-repeat center center;
    margin-right: 10px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
  }
  &__name {
    &--size {
      @include font(48px, 1.5, 400);
      color: white;
      text-transform: uppercase;
    }
    &--position {
      padding-top: 300px;
      padding-left: 40px;
    }
  }
  &__svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: #fff;
    & line{
      stroke: #fff;
      stroke-width: 1.1;
    }
  }
}

.item-sect {
  &__name {
    &--size {
      @include font(24px, 1.5, 400);
    }
    &--position {
      margin-top: 90px;

    }
  }
  &__list {
    &--size {
      @include font(12px, 1.5, 300);
      text-transform: uppercase;
    }
    &--regular {
      @include font(12px, 1.5, 600);
    }
    &--position {
      padding-top: 20px;
    }
  }
  &__link {
    &--flex {
      display: flex;
      align-items: center;
    }
    &--size {
      @include font(18px, 1.5, 300);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 60px;
    }
  }
  &__like {
    &--size {
      @include font(11px, 1.3, 300);
    }
    &--color {
      color: red;
    }
    &--position {
      margin-top: 80px;
      margin-left: 50px;
    }
  }
}

.sect-two {
  &--display {
    display: flex;
  }
  &__item-one {
    &--bg {
      background: url("https://i.imgur.com/yAKmXjL.png");
      background-repeat: no-repeat;
      background-position-x: right;
    }
    &--color {
      color: white;
    }
    &--size {
      width: 300px;
      height: 465px;
    }
    &--position {
      padding-left: 30px;
    }
  }
  &__item-two {
    &--display {
      display: flex;
    }
    &--bg {
      background: url("https://i.imgur.com/HvGiIOy.png");
      background-repeat: no-repeat;
      background-position-x: right;
    }
    &--size {
      width: 736px;
      height: 465px;
    }
    &--position {
      padding-left: 360px;
      padding-top: 90px;
    }
  }
}

.section-two-left {
  &__name {
    &--size {
      @include font(24px, 1.5, 300);
      text-transform: uppercase;
    }
    &--position {
      padding-bottom: 10px;
    }
  }
  &__list {
    &--size {
      @include font(12px, 1.5, 300);
      text-transform: uppercase;
    }
    &--regular {
      @include font(12px, 1.5, 600);
    }
    &--position {
      padding-top: 40px;
    }
  }
  &__link {
    &--flex {
      display: flex;
      align-items: center;
    }
    &--size {
      @include font(18px, 1.5, 300);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 30px;
    }
  }
  &__like {
    &--size {
      @include font(11px, 1.3, 300);
    }
    &--color {
      color: #fe7c7c;
    }
    &--position {
      margin-top: 30px;
      margin-left: 50px;
    }
  }
}
.section-two-right {
  &__name {
    &--size {
      @include font(24px, 1.5, 400);
      text-transform: uppercase;
    }
    &--position {
    }
  }
  &__list {
    &--size {
      @include font(12px, 1.5, 300);
      text-transform: uppercase;
    }
    &--regular {
      @include font(12px, 1.5, 600);
    }
    &--position {
    }
  }
  &__link {
    &--flex {
      display: flex;
      align-items: center;
    }
    &--size {
      @include font(18px, 1.5, 300);
      text-transform: uppercase;
    }
    &--position {
    }
  }
  &__like {
    &--size {
      @include font(11px, 1.3, 400);
    }
    &--color {
      color: red;
    }
    &--position {
    }
  }
}

.unnamed {
}

.sect-three {
  &--display {
    display: flex;
  }
  &__item-one {
    &--display {
      display: flex;
    }
    &--bg {
      background: url("https://i.imgur.com/wyn9DGw.png");
      background-repeat: no-repeat;
      background-position-x: right;
    }
    &--color {
      color: black;
    }
    &--size {
      width: 735px;
      height: 300px;
    }
    &--position {
      padding-top: 185px;
    }
  }
  &__item-two {
    &--bg {
      background: url("https://i.imgur.com/2leaRvi.png");
      background-repeat: no-repeat;
      background-position-x: right;
    }
    &--color {
      color: black;
    }
    &--size {
      width: 300px;
      height: 300px;
    }
    &--position {
      padding-left: 160px;
    }
  }
}


.section-three-left {
  &__name {
    &--size {
      @include font(24px, 1.5, 400);
      text-transform: uppercase;
    }
    &--position {
    }
  }
  &__list {
    &--size {
      @include font(12px, 1.5, 300);
      text-transform: uppercase;
    }
    &--regular {
      @include font(12px, 1.5, 600);
    }
    &--position {
      margin-left: 150px;
    }
  }
  &__link {
    &--flex {
      display: flex;
      align-items: center;
    }
    &--size {
      @include font(18px, 1.5, 300);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 30px;
    }
  }
  &__like {
    &--size {
      @include font(11px, 1.3, 300);
    }
    &--color {
      color: #fe7c7c;
    }
    &--position {
      margin-top: 30px;
      margin-left: 50px;
    }
  }
}
.section-three-right {
  &__name {
    &--size {
      font: 24px/1.5 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
    }
    &--position {
      margin-top: 70px;
    }
  }
  &__list {
    &--size {
      @include font(12px, 1.5, 300);
      text-transform: uppercase;
    }
    &--regular {
      @include font(12px, 1.5, 600);
    }
    &--position {
      margin-top: 10px;
    }
  }
  &__link {
    &--flex {
      display: flex;
      align-items: center;
    }
    &--size {
      @include font(18px, 1.5, 300);
      text-transform: uppercase;
    }
    &--position {
      margin-top: 30px;
      margin-left: -20px;
    }
  }
  &__like {
    &--size {
      @include font(11px, 1.3, 400);
    }
    &--color {
      color: red;
    }
    &--position {
      margin-top: 20px;
      margin-left: 30px;
    }
  }
}

.project-block-1 {
  &--bg {
    background: url("https://i.imgur.com/SoTdrHk.png");
    background-repeat: no-repeat;
    background-position-x: right;
  }
  &--color {
    color: black;
  }
  &--size {
    width: 465px;
    height: 250px;
  }
  &--position {
    padding-left: 40px;
  }
  &__name {
    &--size {
      @include font(24px, 1.5, 400);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 35px;
    }
  }
  &__list {
    &--size {
      @include font(12px, 1.5, 300);
      text-transform: uppercase;
    }
    &--regular {
      @include font(12px, 1.5, 600);
    }
    &--position {
      margin-top: 10px;
    }
  }
  &__link {
    &--display {
      display: flex;
      align-items: center;
    }
    &--size {
      @include font(18px, 1.5, 300);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 10px;
    }
  }
  &__like {
    &--size {
      @include font(11px, 1.5, 400);
    }
    &--color {
      color: #fe7c7c;
    }
    &--position {
      margin-top: 20px;
      margin-left: 50px;
    }
  }
}

.project-block-2 {
  &--setting {
    display: flex;
    align-items: baseline;
  }
  &--bg {
    background: url("https://i.imgur.com/e6KSbat.png");
    background-repeat: no-repeat;
    background-position-x: right;
  }
  &--color {
    color: black;
  }
  &--size {
    width: 465px;
    height: 465px;
  }
  &--position {
    padding-top: 350px;
  }
  &__name {
    &--size {
      @include font(24px, 1.5, 400);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 35px;
    }
  }
  &__list {
    &--size {
      @include font(12px, 1.5, 300);
      text-transform: uppercase;
    }
    &--regular {
      @include font(12px, 1.5, 600);
    }
    &--position {
      margin-left: 50px;
    }
  }
  &__link {
    &--flex {
      display: flex;
      align-items: center;
    }
    &--size {
      @include font(18px, 1.5, 300);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 10px;
      padding-left: 30px;
    }
  }
  &__like {
    &--size {
      @include font(11px, 1.3, 400);
    }
    &--color {
      color: #fe7c7c;
    }
    &--position {
      margin-top: 20px;
      margin-left: 50px;
    }
  }
}

.project-block-3 {
  &--bg {
    background: url("https://i.imgur.com/mdarw2n.png");
    background-repeat: no-repeat;
    background-position-x: right;
  }
  &--color {
    color: black;
  }
  &--size {
    width: 465px;
    height: 251px;
  }
  &--position {
    padding-left: 240px;
  }
  &__name {
    &--size {
      @include font(24px, 1.5, 400);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 35px;
    }
  }
  &__list {
    &--size {
      @include font(12px, 1.5, 300);
      text-transform: uppercase;
    }
    &--regular {
      @include font(12px, 1.5, 600);
    }
    &--position {
      padding-top: 5px;
    }
  }
  &__link {
    &--flex {
      display: flex;
      align-items: center;
    }
    &--size {
      @include font(18px, 1.5, 300);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 20px;
      padding-left: 5px;
    }
  }
  &__like {
    &--size {
      @include font(11px, 1.5, 400);
    }
    &--color {
      color: #fe7c7c;
    }
    &--position {
      margin-top: 20px;
      margin-left: 50px;
    }
  }
}
.project-block-4 {
  &--rel {
    position: relative;
  }
  &--bg {
    background-color: #ebb240;
  }
  &--size {
    width: 465px;
    height: 300px;
  }
  &__name {
    &--size {
      @include font(14px, 1.5, 400);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 60px;
      padding-left: 90px;
    }
  }
  &__list{
    &--size {
      @include font(12px, 1.5, 400);
    }
    &--color a{
      color: white;
    }
    &--position {
      padding-left: 90px;
    }
    & img {
      margin-left: -23px;
    }
  }
  &__svg{
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: #fff;
    & line{
      stroke: #fff;
      stroke-width: 1.1;
    }
  }
}

.studio-block {
  &--display {
    display: flex;
    margin: 0 auto;
  }
  &--bg {
    background-color: #e9eae2;
  }
}

.three-left-side {
  &--size {
  }
  &__up {
    &--size {
      width: 465px;
      height: 500px;
    }
    &--bg {
      background-color: #ff9b6d;
    }
    &--position {
      position: relative;
    }
/*    &:before{
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      top: 54%;
      left: -235px;
      right: -170px;
      background-color: #fff;
      transform: rotate(-49deg);
    }*/
  }
  &__down {
    &--size {
      height: 330px;
    }
  }
}

.three-label {
  &--size {
    @include font(46px, 1.3, 400);
    //font: 48px/1.5 'Roboto Condensed', sans-serif;
    color: white;
    text-transform: uppercase;
  }
  &--position {
    padding-top: 300px;
    padding-left: 200px;
  }
  &__svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: #fff;
    & line{
      stroke: #fff;
      stroke-width: 1.1;
    }
  }
}

.three-descr {
  &--size {
    width: 310px;
    @include font(14px, 1.5, 400);
  }
  &--position {
    margin-top: 60px;
    margin-left: 140px;
  }
  &__name {
    &--size {
      text-transform: uppercase;
    }
    &--position {
      padding-bottom: 10px;
    }
  }
}

.three-right-side {
  &--size {
  }
  &__up {
    &--display {
      display: flex;
    }
    &--size {
      width: 1035px;
      height: 500px;
    }
  }
  &__down {
    &--display {
      display: flex;
      justify-content: space-between;
    }
    &--size {
      width: 87.5%;
    }
    &--position {
      padding-top: 60px;
    }
  }
}

.three-inter {
  &__text {
    &--size {
      @include font(16px, 1.2, 300);
    }
    &--size2 {
      @include font(18px, 1.2, 400);
      font-style: italic;
    }
    &--position {
      margin-right: 60px;
      margin-top: 90px;
      margin-left: 120px;
    }
  }
  &__photo {
    &--position {
      margin-right: 140px;
      margin-top: 90px;
    }
  }
}

.first-auth {
  &__name {
    &--size {
      @include font(13px, 1.3, 600);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 15px;
    }
  }
  &__seat {
    &--size {
      @include font(12px, 1.2, 300);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 2px;
    }
  }
  &__pic-link {
    &--display {
      display: flex;
      justify-content: space-between;
    }
    &--position {
      padding-top: 20px;
    }
  }
}

.pic-link-first-auth {
  &__links,  &__soc {
    display: flex;
  }
}

.second-auth {
  &__name {
    &--size {
      @include font(13px, 1.3, 600);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 15px;
    }
  }
  &__seat {
    &--size {
      @include font(12px, 1.3, 300);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 2px;
    }
  }
  &__pic-link {
    &--display {
      display: flex;
      justify-content: space-between;
    }
    &--position {
      padding-top: 20px;
    }
  }
}

.pic-link-second-auth {
  &__links, &__soc {
    display: flex;
  }
}

.third-auth {
  &__name {
    &--size {
      @include font(13px, 1.3, 600);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 15px;
    }
  }
  &__seat {
    &--size {
      @include font(12px, 1.3, 400);
      text-transform: uppercase;
    }
    &--position {
      padding-top: 2px;
    }
  }
  &__pic-link {
    &--display {
      display: flex;
      justify-content: space-between;
    }
    &--position {
      padding-top: 20px;
    }
  }
}

.pic-link-third-auth {
  &__links, &__soc {
    display: flex;
  }
}

.news-block {
  &--display {
    display: flex;
    margin: 0 auto;
  }
  &__label {
    &--rel {
      position: relative;
    }
    &--size {
      width: 465px;
      height: 500px;
    }
    &--bg {
      background-color: #d4edbf;
    }
    &--position {
      padding-top: 300px;
      padding-left: 210px;
    }
    &--text-size {
      @include font(48px, 1.3, 400);
    }
    &--text-color {
      color: white;
    }
    &__svg{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      fill: #fff;
      & line{
        stroke: #fff;
        stroke-width: 1.5;
      }
    }
  }
  &__content {
    &--display {
      display: flex;
      justify-content: space-around;
    }
    &--size {
      width: 1035px;
      height: 500px;
    }
    &--bg {
      background-color: #e5e9df;
    }
    &--position {
      padding-right: 80px;
      padding-left: 50px
    }
  }
}

.first-news {
  &--size {
    width: 370px;
  }
  &__name {
    &--size {
      @include font(23px, 1.3, 600);
      text-transform: uppercase;
    }
    &--position {
      margin-top: 80px;
    }
  }
  &__date {
    &--size {
      @include font(12px, 1.3, 400);
    }
    &--color {
      color: #6a6969;
    }
  }
  &__pic {
    &--positin {
      margin-top: 15px;
    }
  }
  &__descr {
    &--size {
      @include font(12px, 1.3, 400);
    }
    &--color {
      color: #6a6969;
    }
    &--position {
      margin-top: 20px;
    }
  }
  &__more {
    &--size {
      @include font(12px, 1.3, 400);
      text-transform: uppercase;
    }
    &--color {
      color: #fd5000;
    }
    &--position {
      margin-top: 5px;
      margin-left: 214px;
    }
  }
}

.second-news {
  &--size {
    width: 370px;
  }
  &__name {
    &--size {
      @include font(23px, 1.3, 600);
      text-transform: uppercase;
    }
    &--position {
      margin-top: 80px;
    }
  }
  &__date {
    &--size {
      @include font(12px, 1.3, 400);
    }
    &--color {
      color: #6a6969;
    }
    &--position {
      margin-top: 29px;
    }
  }
  &__pic {
    &--positin {
      margin-top: 15px;
    }
  }
  &__descr {
    &--size {
      @include font(12px, 1.3, 400);
    }
    &--color {
      color: #6a6969;
    }
    &--position {
      margin-top: 20px;
    }
  }
  &__more {
    &--size {
      @include font(12px, 1.3, 400);
      text-transform: uppercase;
    }
    &--color {
      color: #fd5000;
    }
    &--position {
      margin-top: 5px;
      margin-left: 214px;
    }
  }
}

.footer-block {
  &--display {
    display: flex;
    margin: 0 auto;
  }
  &__right-side {
    &--display {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &--bg {
      background-color: #e9eae2;
    }
    &--size {
      width: 750px;
    }
  }
}

.footer-in {
  &__up {
    &--display {
      display: flex;
    }
    &--position {
      padding-top: 150px;
    }
  }
  &__down {
    &--display {
      display: flex;
      align-items: center;
    }
    &--size {
      font: 12px/1.3 'Roboto Condensed', sans-serif;
    }
    &--position {
      padding-top: 60px;
    }
    & img {
      padding-right: 5px;
    }
  }
}

.footer-text {
  &--size {
    @include font(13px, 1.3, 400);
    text-transform: uppercase;
  }
}

.footer-content {
  &__right {
    &--position {
      padding-left: 165px;
    }
  }
}

.footer-logo-block{
  &--position {
    padding-left: 170px;
    margin-left: 50px;
  }
  &__text {
    @include font(18px, 1.5, 400);
    text-transform: uppercase;
    &--position {
      margin-top: 5px;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &--position {
      margin-top: 55px;
    }
  }
}


