$animation-show-speed: .15s;
$animation-hide-speed: .1s;
$animation-opacity-duration: $animation-show-speed;
$animation-item-hover-speed: .2s;
$animation-easing: ease;

.drop-under-content{
  position: absolute;
  left: 0;
  right: 0;
}

.drop-box{
  padding: $input-padding-y;
  background-color: #fff;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  display: none;
  &.active:not(.show-animate){
    display: block;
  }
  &.show-animate{
    transition: transform $animation-hide-speed $animation-easing;
    transform: scaleY(0);
    transform-origin: left center;
    display: block;
    > *{
      opacity: 0;
    }
  }

  &.active.show-animate{
    transform: scaleY(1);
    transition: transform $animation-show-speed $animation-easing;
    > *{
      transition: opacity $animation-show-speed $animation-opacity-duration $animation-easing;
      opacity: 1;
    }
  }
}

.drop-header{
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
}

.drop-list{
  -webkit-overflow-scrolling: touch;
  user-select: none;
  &.drop-scroll{
    max-height: 200px;
    overflow-y: auto;
  }
  .item{
    padding: $input-padding-y $input-padding-x;
    font-size: $font-size-sm;
    border-radius: $input-border-radius;
    transition: background-color $animation-item-hover-speed $animation-easing;
    color: $input-placeholder-color;
    cursor: pointer;
    display: block;
    &.active,  &:hover{
      background-color: rgba($input-placeholder-color, .1);
      color: #000;
    }
    &:active:not(.active){
      background-color: rgba($input-placeholder-color, .2);
    }
    &.disabled{
      opacity: .5;
      cursor: not-allowed;
      &:hover{
        color: currentColor;
      }
    }
  }
}
