.input-material-group{
  position: relative;
  .form-placeholder{
    color: $input-placeholder-color;
    position: absolute;
    top: 50%;
    left: $input-padding-x;
    transform: translateY(-50%);
    transition: transform .15s ease-in-out, top .15s ease-in-out, color .15s ease-in-out;
    pointer-events: none;
    transform-origin: left top;
    letter-spacing: .1px;
    background-color: $input-bg;
    border: 1px solid transparent;
    z-index: 3;
    @extend .text-truncate;
    &:empty{
      display: none;
    }

  }
  .form-control{
    &:last-child, &:first-child{
      border-radius: $input-border-radius;
    }
    &:focus, &:valid, &[disabled], &.disabled{
      ~ .form-placeholder{
        transform: scale(.75);
        top: -12px;
        padding: 0 8px;
        margin-left: -8px;
        background-color: $input-bg;
        color: $input-color;
        font-weight: bold;
      }
    }
  }
}

